#
# Modbus configuration
#
CONFIG_MB_SERIAL_MASTER_RTU_ENABLED=y
CONFIG_MB_SERIAL_MASTER_ASCII_ENABLED=
CONFIG_MB_SERIAL_SLAVE_RTU_ENABLED=
CONFIG_MB_SERIAL_SLAVE_ASCII_ENABLED=
CONFIG_MB_SERIAL_SLAVE_DISABLED=y
CONFIG_MB_UART_RXD=22
CONFIG_MB_UART_TXD=23
CONFIG_MB_UART_RTS=18